<h1>Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>

  <p>most reviewed</p>
  <ul>
    <% Product.most_reviews.each do |product |%>
      <li><%= link_to product.name, product_path(product) %> </li>
    <% end %> 
  </ul> 

  <p>New Coffees</p>
  <ul>
    <% Product.three_most_recent.each do |product |%>
      <li><%= link_to product.name, product_path(product) %> </li>
    <% end %> 
  </ul> 

    <p>Coffee from the USA</p>
  <ul>
    <% Product.usa.each do |product |%>
      <li><%= link_to product.name, product_path(product) %> </li>
    <% end %> 
  </ul> 
  <% if current_user && current_user.admin? == true %>
    <p><%= link_to "Create new product", new_product_path %></p>
  <% end %>
