<div id="app-title">
<%#MARIOS fine COFFEE %>
  <p><span class="blue">M</span><span class="yellow">A</span><span class="red">R</span><span class="green">I</span><span class="blue">O</span><span class="yellow-smaller">S</span>
</div>
<div id= "sub-title" >
  <span class="black">--<span class="blue"> f <span class="yellow">i <span class="red">n <span class="blue">e <span class="black">------ <span class="yellow">C <span class="green">O <span class="blue">F <span class="yellow">F <span class="red">E <span class="green">E <span class="black">--</span>
</div>

<div id="intro">
  <h3>Since 1984 Mario's Fine Coffee has worked tirelessly to select and distribute the worls finest coffee to our tens of customers around the globe</h3>
</div>

<br>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Coffees
  </button> 

<% if @products.any? %>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <% @products.each do |product| %>
      <h6 class="dropdown-item"><%= link_to product.name, product_path(product) %></h6>
    <% end %>
  </div>
<% else %>
  <p>There are no products yet.</p>
<% end %>
</div>
<br>
<div class="row">
  <div class="col-4">
    <div class="starbg">
    <img id= "mario" src="https://play.nintendo.com/images/Masthead_Mario_HeroPose-updated2021.b19a16e5.ed4a1562.png">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      Mario's Most Reviewed
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <% Product.most_reviews.each do |product| %>
          <h1><%= link_to product.name, product_path(product) %></h1>
        <% end %>
      </div>
    </ul> 
  </div>
</div>

<div class="col-4">
  <div class="starbg">
    <img id= "peach" src="https://play.nintendo.com/images/Masthead_Peach.17345b1513ac044897cfc243542899dce541e8dc.9afde10b.png">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
        Peach's NEW picks
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
          <% Product.three_most_recent.each do |product| %>
            <h3 class="dropdown-item"><%= link_to product.name, product_path(product) %> </h3>
          <% end %> 
        </ul> 
      </div>
  </div>
</div>

<div class="col-4">
  <div class="starbg">
    <img id= "luigi" src="https://play.nintendo.com/images/Masthead_luigi.17345b1513ac044897cfc243542899dce541e8dc.9afde10b.png">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
      Luigis Local Selections
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
        <% Product.usa.each do |product |%>
          <li class="dropdown-item"><%= link_to product.name, product_path(product) %> </li>
        <% end %> 
      </ul> 
    </div>
  </div>
</div>

  <% if current_user && current_user.admin? == true %>
    <p><%= link_to "Create new product", new_product_path %></p>
  <% end %>
