<h3>Since 2019 Mario's Fine Coffee has worked tirelessly to select and distribute the worls finest coffee to our tens of customers around the globe</h3>
<br>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Coffees
  </button> 

<% if @products.any? %>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <% @products.each do |product| %>
      <li class="dropdown-item"><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>
</div>
<br>
<div class="row">
  <div class="col-4">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Most Reviewed
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% Product.most_reviews.each do |product| %>
        <li><%= link_to product.name, product_path(product) %> </li>
      <% end %>
    </div>
  </ul> 
  </div>
  <div class="col-4">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      New Selections
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <% Product.three_most_recent.each do |product| %>
          <li class="dropdown-item"><%= link_to product.name, product_path(product) %> </li>
        <% end %> 
      </ul> 
    </div>
  </div>
<div class="col-4">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Local Selections
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% Product.usa.each do |product |%>
        <li class="dropdown-item"><%= link_to product.name, product_path(product) %> </li>
      <% end %> 
    </ul> 
  </div>
</div>
  <% if current_user && current_user.admin? == true %>
    <p><%= link_to "Create new product", new_product_path %></p>
  <% end %>
